<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.min.js"></script>

    <meta charset="utf-8" />
    {% load static %}
    <link rel="shortcut icon" href="{% static 'neuron/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'neuron/styles.css' %}">
    <script type="text/javascript">
      window.itemTable = {{item_list |safe}};
    </script>

  </head>
  <body>
    <div class="top-bar category-section">
      Categories Selected: <span id="category-list"></span>
    </div>
    <div class="top-bar tag-section">
      Tags Selected: <span id="tag-list"></span>
      <form id="tag-display-form" method="post">
        <input id="tag-display-input" type="text" name="tag-name"
        value="" placeholder="Insert tag onto map" autocomplete="off">
      </form>
    </div>
    <div id="canvas-container">

    </div>
    <div id="item-form-overlay" class="rightFormOverlay">
      <div id="item-form-content" class="rightFormContent">
        <h4><span id="item-title" class="editable"></span></h4>
        <div class="form-section">Authors: <span id="item-author" class="editable"></span> </div>
        <div class="form-section">Date: <span id="item-date" class="editable"></span></div>
        <div class="form-section">Type: <span id="item-type" class="editable"></span></div>
        <div class="form-section">URL: <span id="item-url" class="editable"></span></div>
        <div class="form-section">Category: <span id="item-category" class="editable"></span></div>
        <div class="form-section">Tags: <span id="item-tags" class="editable"></span></div>
        <div class="form-section">Description: <span id="item-description" class="editable"></span></div>
        <div class="form-section">Notes: <div id="item-notes" class="editable" style="width: 250px; height: 150px; overflow-y:auto;"></div></div>
      </div>
    </div>

    <script src="{% static 'neuron/sketch.js' %}"></script>
  </body>
</html>
