<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.min.js"></script>

    <meta charset="utf-8" />
    {% load static %}
    <link rel="shortcut icon" href="{% static 'neuron/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'neuron/styles.css' %}">
    <script type="text/javascript">
      window.itemTable = {{item_list |safe}};
      window.categoryTable = {{category_list |safe}};
    </script>

  </head>
  <body>
    <div class="top-bar category-section">
      Categories Selected: <span id="category-list"></span>
    </div>
    <div class="top-bar tag-section">
      Tags Selected: <span id="tag-list"></span>
      <form id="tag-display-form" method="post">
        <input id="tag-display-input" type="text" name="tag-name"
        value="" placeholder="Insert tag onto map" autocomplete="off">
      </form>
    </div>
    <div id="canvas-container">

    </div>
    <div id="side-form-overlay" class="rightFormOverlay">
      <div id="side-form-content" class="rightFormContent">
        <form id="item-form" action="{% url 'neuron:item_update' %}" method="post">
      		{% csrf_token %}
          <h4 class="form-section">Title: <input type="text" name="item_title" class="editable long-text" autocomplete="off"></span></h4>
          <p><input type="text" class="editable" name="item_id" value="0" hidden readonly></p>

          <div class="form-section">Authors:
            <input type="text" name="item_authors" class="editable long-text"></div>
          <div class="form-section">Date:
            <input type="text" name="item_date" class="editable" autocomplete="off"></div>
          <div class="form-section">Type:
            <input type="text" name="item_type" class="editable"></div>
          <div class="form-section">URL:
            <input type="text" name="item_url" class="editable long-text" autocomplete="off"></div>
          <div class="form-section">Category:
            <input type="text" name="item_category" class="editable"></div>
          <div class="form-section">Tags:
            <input type="text" name="item_tags" class="editable long-text" autocomplete="off"></div>
          <div class="form-section">Description:
            <textarea name="item_description" rows="3" class="editable"></textarea></div>
          <div class="form-section">Notes:
            <!-- <div id="item-notes" class="editable" style="width: 250px; height: 150px; overflow-y:auto;"></div> -->
            <textarea name="item_notes" rows="10" class="editable"></textarea></div>
          <div class="form-section">
            <button type="submit" form="item-form" name="submit_button">Save</button>
            <button class="cancel-button" form="item-form" name="cancel_button">Cancel</button>
            <br>
            <br>
            <button class="delete-button" type="submit" form="item-form" name="delete_button">Delete</button>
          </div>
        </form>
        <form id="category-form" action="{% url 'neuron:category_update' %}" method="post">
      		{% csrf_token %}
          <h4>Category: <input type="text" name="category_name" class="editable" autocomplete="off"></span></h4>
          <p><input type="text" class="editable" name="category_id" value="0" hidden readonly></p>
          <div class="form-section">
            <button type="submit" form="category-form" name="submit_button"></button>
            <button class="cancel-button" form="category-form" name="cancel_button">Cancel</button>
            <br>
            <br>
            <button class="delete-button" type="submit" form="category-form" name="delete_button">Delete</button>
          </div>
          <div class="form-section" style="overflow:scroll; height:600px;">
            <ul id="item-list">
            </ul>
          </div>
        </form>
      </div>
    </div>
    <script src="{% static 'neuron/sketch.js' %}"></script>
  </body>
</html>
